<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='createMessage' method = 'post'>
    <input type = 'text' name='name'>
    <select name = 'language'>
        <option selected> English</option>
        <option>French</option>
        <option>Spanish</option>
        <option>Italian</option>
        <option>Portuguese</option>
    </select>
    <input type = 'submit' value = 'GreetMe!'>
</form>
</body>
</html>